stages:
  - build
  - deploy

build_react:
  image: node:alpine
  stage: build

  script:
    - echo "====== Install dependencied ======"
    - npm i
    - echo "====== Build react APP ======"
    - npm run build

  artifacts:
    name: panel-build
    paths:
      - docs

deploy_react:
  image: alpine
  stage: deploy
  script:
    - echo "Deploying to server"
    - ls
    - cd /var/www/
    - cp -rv ./docs/* /var/www/apps/online-school-client/
    - echo "Deployed"
  only:
    - master
