@import '~Styles/variables';
.landing {
  &__container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(4, auto);
    padding: 0 100px;
    color: $dark-blue;
    > div {
      margin: 50px 0;
    }
    h1 {
      margin: 30px 0;
    }
    grid-template-areas:
    "landing-title"
    "advantages"
    "how-to-study"
    "free-webinar"
    "feedback"

  }
  &__title {
    grid-area: landing-title;
    display: flex;
    &__left {
      display: flex;
      flex-direction: column;
      flex-basis: 50%;
      justify-content: center;

      h2{
        font-size: 36px;
        line-height: 49px;
        margin: 0;
        max-width: 340px;
      }
      p{
        color: $grey-text;
      }
      button{
        background-color: $accent-red;
        color: $white;
        padding: 0 3em;
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        height: 50px;
        width: 20em;
      }
    }
    &__img {
      background: no-repeat center/100% $img-likbez-main;
      display: flex;
      flex: 1;
      min-height: 450px;
      height: 100%;
    }
  }

  &__advantages {
    grid-area: advantages;
    display: flex;
    flex-direction: column;
    &__title {
      text-align: center;
      font-size: 48px;
      span {
        color: $saturated-red;
      }
    }
    &__body {
      display: flex;
      width: 100%;
      &__box {
        display: flex;
        flex-direction: column;
        flex: 1;
        &.right {
          justify-content: center;
          margin-left: 40px;
        }
        &__el {
          display: flex;
          flex-direction: row;
          width: 100%;
          margin-bottom: 40px;
          &__img {
            background: no-repeat center/100% $img-tick;
            min-width: 50px;
            height: 50px;
            margin: 10px 10px 0 0;
          }
          &__text {
            display: flex;
            flex-direction: column;
            span {
              color: $saturated-red;
            }
            ul {
              color: $grey-text;
              margin: 0 0 0 10px;
              padding-left: 10px;
            }

            li {
              margin: 10px 0;
            }
          }
        }
      }
    }
  }


  &__free-webinar{
    grid-area: free-webinar;
    transform: translateZ(-1px);
    background-image: $img-free-webinar;
    margin-left: -100px;
    margin-right: -100px;
    &__title{
      h1{
        color: $white;
        font-size: 48px;
        margin-top: 100px;
        text-align: center;
      }
    }
    &__body {
      display: flex;
      flex-direction: row;
      margin-bottom: 100px;
      &__left {
        background: rgba(255, 255, 255, 0.5);
        padding: 3em 100px;

        button {
          background-color: $accent-red;
          color: $white;
          padding: 0 3em;
          text-align: center;
          font-size: 18px;
          font-weight: bold;
          height: 50px;
          width: 15em;
        }

        p {
          color: $dark-blue;
          font-weight: bold;
          font-size: 24px;
        }
      }

      &__right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 40px;
        h1 {
          color: $white;
          font-size: 48px;
        }
        ul {
          margin-left: 10px;
          padding-left: 10px;
        }
        li {
          list-style-type: none;
          color: $white;
          font-weight: bold;
          font-size: 24px;
        }

        li:before {
          content: '►';
          margin-left: -20px;
          margin-right: 10px;
          color: $accent-red;
        }

      }
    }
  }
  &__how-to-study {
    grid-area: how-to-study;
    background-color: $white;
    display: flex;
    flex-direction: column;

    &__title {
      h1 {
        font-size: 48px;
        font-weight: bold;
        text-align: center;
        margin: 0;
      }
      span {
        color: $accent-red;
      }
    }

    &-body {
      display: flex;
      flex-direction: row;
      align-items: center;
      &__text {
        display: flex;
        flex-direction: column;
        flex: 1;
        max-width: 500px;
        color: $dark-grey-text;
        font-weight: normal;
        font-size: 18px;
        padding: 0 2em;
      }
      &__img {
        background: no-repeat center/100% $img-likbez-courses;
        flex: 1;
        height: 100%;
        min-height: 450px;
      }
    }
  }
  &__feedback {
    margin-top: 10px!important;
  }
}

@media (max-width: 1024px) {
  .landing {
    &__container {
      padding: 0 20px;
    }

    &__title {
      flex-direction: column;
      align-items: center;
      margin-top: 70px;

      &__left {
        align-items: center;

        h2 {
          max-width: 100%;
        }
      }

      &__img {
        width: 100%;
        max-width: 600px;
      }
    }

    &__how-to-study-body {
      flex-direction: column;
      &__img {
        max-width: 600px;
        width: 100%;
      }
      &__text {
        width: 90%;
        padding: 0;
      }
    }
    &__free-webinar {
      margin-left: -20px;
      margin-right: -20px;
      &__body {
        flex-direction: column;
        &__right {
          align-self: center;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .landing {
    &__title__left {
    }
    h2 {
      max-width: 340px;
    }
    &__advantages__body {
      flex-direction: column;
      &__box {
        &.right {
          margin: 0;
          justify-content: flex-start;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .landing {
    &__title {
      &__left {
        button {
          font-size: 14px;
        }
      }
      &__img {
        min-height: 300px;
      }
    }
    &__free-webinar__body__left {
      padding: 3em 10%;
      button {
        font-size: 14px;
      }
    }
    &__how-to-study-body__img{
      min-height: 300px;
    }
  }
}

@media (max-width: 360px) {
  .landing {
    &__container {
      h1 {
        font-size: 32px;
      }
    }
  }
}
