@import "~Styles/variables", "src/styles/breakpoint.mixin";
.TeacherContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  @include breakpoint(desktop-above) {
    flex-direction: row;
  }

  &__decoration {

    @include breakpoint(desktop-above) {
      display: none;
    }

    &--1 {
      width: 20px;
      height: 20px;
      background-color: $accent-red;
      position: absolute;
      left: 320px;
      top: 145px;
    }

    &--2 {
      width: 100px;
      height: 100px;
      background-color: $green;
      position: absolute;
      top: 180px;
      left: 260px;
    }

    &--3 {
      width: 30px;
      height: 30px;
      background-color: $grey-blue;
      position: absolute;
      left: 390px;
      top: 240px;
    }
  }

  &__image {
    min-width: 300px;
    max-width: 300px;
    min-height: 300px;
    max-height: 300px;
    overflow: hidden;

    @include breakpoint(desktop-above) {
      min-height: 465px;
      max-height: 465px;
    }

    &--avatar {
      width: 100%;
      height: auto;
      @include breakpoint(desktop-above) {
        width: auto;
        height: 100%;
      }
    }
  }
  &__info {
    background-color: rgba($grey-blue, 0.3);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: $dark-blue;
    padding: 20px 60px 20px 40px;

    @include breakpoint(desktop-above) {
      min-width: 850px;
      max-width: 850px;
      min-height: 465px;
      max-height: 465px;
    }

    &--title {
      display: flex;
      align-items: flex-end;
      gap: 20px;
      margin: 30px 0 20px;
    }

    p {
      margin: 0;
      line-height: 150%;
    }

    &__link {
      display: flex;
      cursor: pointer;
      flex-direction: row;
      padding: 10px 20px;
      max-height: 50px;
      border: 3px solid $green;
      width: min-content;
      justify-content: flex-start;
      align-items: center;
      white-space: nowrap;
      box-sizing: border-box;
      transition: all 300ms ease;
      margin-top: 30px;

      &__text {
        color: $green;
        font-size: 14px;
        margin-left: 10px;
        font-weight: 600;
      }
      &:focus{ outline: none; }
      &:hover {
        box-shadow: 0 0 0 3px $green;
      }
    }
  }
}


