@import "~Styles/variables";

.container-master {
  display: flex;
  flex-direction: row;
  flex: 1;
  margin: 30px;
  min-height: 200px;
  &__image {
    flex: 1;
    background: no-repeat $img-likbez-empty-courses; //по умолчанию фон, когда нет картинки
    background-size: cover;
  }
  &__info {
    flex: 3;
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: space-between;
    background-color: rgba(193, 207, 218, 0.2);

    &__title {
      margin: 32px 0 0 0;
      color: $dark-blue;
    }
    &__body{
      margin: 16px 0;
      text-overflow: ellipsis;
      overflow: hidden;
      max-height: 66px;
      color: $dark-grey-text;
    }
    &__bottom {
      display: flex;
      align-items: center;
      margin-top: 32px;

      &__element {
        display: flex;
        flex-direction: column;
        margin-right: auto;

        &.price {
           margin-left: auto;
          margin-right: 0;
         }

        p {
          font-weight: bold;
        }
        svg {
          margin-right: 10px;
        }
      }
      &__title {
         color: $grey-text;
         font-size: 12px;
       }
      &__body {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
}

@media (max-width: 768px) {
  .container-master {
    flex-direction: column;
    height: 400px;
    &__image {
      flex: 3;
    }
  }
}
