/** Colors */
$white: #FFF;
$grey-blue: #C1CFDA;
$grey-text: #979797;
$dark-grey-text: #444444;
$green: #087e8b;
$dark-blue: #0B3954;
$accent-red: #FF5A5F;
$dark-red: #C81D25;
$saturated-red: #FF4040;

/** Images */
/** Images */
$img-free-webinar: url('~Public/free-webinar.jpg');
$img-likbez-courses: url('~Public/likbez-courses.svg');
$img-likbez-main: url('~Public/likbez-main.svg');
$img-tick: url('~Public/tick.svg');
$img-ok: url('~Public/ok.svg');
$img-likbez-long: url('~Public/likbez-logo-long.svg');
$img-likbez-logo: url('~Public/likbez-original-title-for-web.svg');
