@import '~Styles/variables';

.header {
  display: flex;
  min-height: 70px;
  max-height: 70px;
  justify-content: space-between;
  padding: 0 30px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 5px;
  &__title {
    background: no-repeat center/100% $img-likbez-logo-long;
    min-width: 245px;
      height: 100%;
  }
  &__right {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    nav {
      display: flex;
      height: 100%;
      margin-right: 40px;
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        width: 100%;
        min-height: 100%;
      }
    }
    &__menu {
      display: flex;
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      min-height: 100%;

      span {
        color: $dark-blue;
      }
      li {
        display: flex;
        flex-direction: column;
        min-height: 100%;
        width: 180px;
        &:hover {
          background-color: $grey-blue;
          .header__right__submenu {
            display: flex;
          }
        }
      }
    }
    &__submenu {
      flex-direction: column;
      display: none;
      width: 180px;
      padding: 0;
      top: 66px;
      position: absolute;
      background-color: $grey-blue;
      li {
        display: flex;
        width: 100%;
        height: 70px;
        &:hover {
          background-color: $green;
        }
      }
    }
  }
  &__icon-menu {
    display: none;
    align-self: center;
  }
  @media (max-width: 1024px) {
    &__icon-menu {
      display: block;
    }
    &__right {
      display: none;
      &.active {
        display: flex;
      }
      position: absolute;
      right: 0;
      top: 70px;
      flex-direction: column;
      nav {
        height: max-content;
        margin: 0;
      }
      &__menu {
        flex-direction: column;
        width: 180px;
        min-height: 50px;
        li {
          flex-direction: row-reverse;
          min-height: 50px;
        }
      }
      &__submenu {
        top: 50px;
        right: 180px;
        li {
          height: 50px;
        }
      }
      button {
        width: 180px;
        height: 50px;
      }
    }
  }
}
