.container-course-preview {
  &__image {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    max-height: 250px;
    height: 250px;
    min-height: 250px;
    background-color: blue;
    padding: 20px;
    box-sizing: border-box;
    &__tags {
      display: flex;
      flex-direction: row;
      .ui-tag:last-child {
        margin-left: 10px;
      }
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #DADADA;
    height: 120px;
    padding: 20px;
    &__title {
      margin: 0;
    }
    &__bottom {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      &__date {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        svg {
          margin-right: 10px;
        }
      }
    }
  }
}
