@import '~Styles/variables.scss';

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', sans-serif;
  scroll-behavior: smooth;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;

  .main-block {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    width: 100%;
  }
}


.ui-tag {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  height: 35px;
  padding: 10px;
  width: min-content;
  white-space: nowrap;
  font-size: 16px;
  box-sizing: border-box;
  color: white;
}

.ui-button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100px;
  height: 35px;
  padding: 10px;
  width: min-content;
  white-space: nowrap;
  font-size: 16px;
  box-sizing: border-box;
  color: $white;
  &.primary {
    background-color: $accent-red;
    &:hover {
      background-color: $dark-red;
    }
    &:focus { outline: none; }
  }
  &.secondary {
    border: 2px solid $green;
    color: $green;
    cursor: pointer;
    position: relative;
    transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1) 0s;
    &:focus { outline: none; }

    &:hover {
      color: $white !important;
      background-color: transparent;
      &:before {
        left: 0;
        right: auto;
        width: 100%;
      }
    }
   &:before {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 0;
      z-index: -1;
      content: '';
      color: $white !important;
      background: $green;
      transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1) 0s;
    }
  }
  }

@mixin calc($property, $expression) {
  #{$property}: -moz-calc(#{$expression});
  #{$property}: -webkit-calc(#{$expression});
  #{$property}: calc(#{$expression});
}

.ui-items-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  &__item {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    @include calc(flex-basis, '(100% - 160px)/4');
    margin: 20px;
  }


  @media (max-width : 1824px) {
    &__item {
      @include calc(flex-basis, '(100% - 120px)/3');
    }
  }

  @media (max-width: 1224px) {
    &__item {
      @include calc(flex-basis, '(100% - 80px)/2');
    }
  }

  @media (max-width: 768px) {
    &__item {
      @include calc(flex-basis, '(100% - 40px)');
    }
  }
}

